/* flex helpers */
.flex {
    display: flex;
  }
  
  .flex.space-between {
    justify-content: space-between;
  }

  .flex.justify-center {
    justify-content: center;
  }
  
  .flex.align-center {
    align-items: center;
  }

  .flex.wrap{
    flex-wrap: wrap;
  }

  .btn{
    padding: 1em;
    font-size: 1.6em;
    color: white;
    background-color: black;
    border-radius: .5em;
  }
  
  /* list helpers */

  
  .clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .full{
      grid-column: 1/-1;
  }
  
  .space-between{
      justify-content: space-between;
  }
  
  .green{
      color: var(--accent);
  }
  
  .center{
      align-items: center;
  }
  
  .capitalize{
      text-transform: capitalize;
  }
  
  .bold{
      font-weight: bold;
  }

  .full{
    grid-column: 1/-1;
  }

  .hide{
    display: none;
  }