

/* .hamburger-nav{
    position: absolute;
    left: 2em;
    top: 2em;
    height: 2em;
    width: 2em;
    background-color: red;

}

.hamburger-nav::after{
    position: absolute;
    content:'';
    width: 100%;
    height: 2px;
    background-color: black;
    transform-origin: center;
    transform: rotate(45deg);
    
} */

.body{
    display: grid;
    /* grid-template-columns: minmax(6px, 80px) minmax(360px, 10fr) minmax(6px, 80px); */
    grid-template-columns: 1px 1fr 1px;
    grid-template-rows: auto 1fr 4em;
    height: 100dvh;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(#1d1d1d, #141414, #2c2c2c);
}

.side-nav{
    position: absolute;
    justify-content: center;
    right: 1em;
    bottom: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-image: radial-gradient( aqua, blue, aqua);
    box-shadow: 0 0 12px 3px #00000048;
    cursor: pointer;
}

.side-nav::after{
    content: '+';
    font-size: 2em;
    color: whitesmoke;
    font-weight: 700;
    text-shadow: 4px 4px 3px black;

}

.main-footer{
    justify-content: center;
    background-color: #cfcfcf;
    box-shadow: 0px 7px 13px 6px #000000a1;
}
