#main-canvas {

  place-self: center;
  margin: 0;
  padding: 0;
  background-color: rgb(124, 124, 124);
}

.text-edits{
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(5, minmax(1em, 1fr));
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-template-rows: 1fr 1.2fr 1fr; */
  row-gap: 1em;
  align-items: center;
  justify-items: center;
  
  #text-field{
    grid-area: 2/1/2/-1;
    width: 65%;
    color: var(--primary-base);
    justify-self: auto;
    font-size: 1.6em;
  }
}
.add-switch-remove{
  grid-area: 1/1/1/-1;
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.edit-text{
  gap: 1em;
}

.text-edits *:is(input, select):not(#text-field){
  border-radius: 5em;
  padding: 1em 2em;
}

.action-btns{
  justify-content: space-around;

  .btn:hover{
    color: var(--accent);
  }
}

.text-color div,
.stroke-color div{
  border-radius: 50%;
  width: 3em;
  height: 3em;
  background-color: white;
}

.text-color input,
.stroke-color input{
  opacity: 0;
  position: absolute;
}

.stroke-color div{
  border: .6em solid black; 
  background-color: transparent;
}

.canvas-container{
  position: relative;
}

.quick-edit{
  position: absolute;
  width: fit-content;
  /* pointer-events: none; */
  opacity:0;
  z-index: 99;
  padding: 1em;
  background-color: var(--primary-text);
}