.canvas-container {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1em;
  height: 100%;
  width: 90%;
  place-content: center;
  margin-inline: auto;
}

.form-container {
  margin: 20px 0;
  padding: 1em 2em;
  background-image: var(--linear-bright);
  border-radius: 2em;
}

#img-view {
  width: 100%;
  height: 100%;
  border: 2px dashed #bbb5ff;
  background-color: #f7f8ff;
}

#img-view img {
  width: 100%;
  margin-top: 25px;
}

#img-view span {
  display: block;
  font-size: 12px;
  color: #777;
  margin-top: 15px;
}
